<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Schat</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
 
    <body>
    	<div id='upper'>
        	<h3>Simple Chat</h3>
		</div>
        <div id='lower'>
	        <ul id='chat'>
	        </ul>
	        <form id='message'>
	        	<input type='text' id='user_input' required autofocus />
	        	<input type="submit" value="Send"/>
	        </form>
        </div>

		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');

            // The visitor is asked for their username. This is sent to the server with a signal.
            var username = prompt('What\'s your username?');
            socket.emit('new_user', username);

            // When submitted, the "message" is sent to the server
            $(function() {
	            $('#message').submit(function () {
	                socket.emit('message', $('#user_input').val());
	                $('#user_input').val('');
	                return false;
	            });
            });

            socket.on('self_text_user', function(self_text_user) {
                $('#chat').append("<li class='username-self'>"+self_text_user+"</li>");
            });
            socket.on('self_text', function(self_text) {
                $('#chat').append("<li class='chat-bubble-self'>"+self_text+"</li>");
            });

            // When there is a 'new_text', register it on the chat
            socket.on('new_text_user', function(new_text_user) {
                $('#chat').append("<li class='username'>"+new_text_user+"</li>");
            });
            socket.on('new_text', function(new_text) {
                $('#chat').append("<li class='chat-bubble'>"+new_text+"</li>");
            });
        </script>
    </body>
</html>